<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPartHistoryNew" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebServices/PartHistoryNew.svc/PartHistoryNew.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPartHistoryNew"
                contract="PartHistoryNewService.IPartHistoryNew" name="BasicHttpBinding_IPartHistoryNew" />
        </client>
    </system.serviceModel>
</configuration>